.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.hero-section {
  position: relative;
  z-index: 12;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/chameleon.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.hero_box {
  margin-bottom: 53px;
  padding: 60px 23px 23px;
  background-color: #fff;
  font-size: 19px;
}

.hero_content_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1290px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.hero_content_wrapper.max_w_1100 {
  position: relative;
  z-index: 2;
  max-width: 1100px;
}

.span_h1_headline {
  position: relative;
  bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.body {
  font-family: Klavika, sans-serif;
  color: #000;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.image_wordmark {
  margin-top: 40px;
}

.span_superscript {
  position: relative;
  bottom: 6px;
  font-size: 13px;
}

.span_superscript.h2 {
  bottom: 25px;
}

.span_superscript.h3 {
  bottom: 18px;
  font-size: 10px;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 12;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.btn_navigation {
  margin-right: 20px;
  margin-left: 20px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn_navigation:hover {
  color: #007c97;
}

.content_section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 540px;
  padding: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content_section.bg_color_grey {
  background-color: #ededed;
}

.content_section.full_width_content {
  min-height: auto;
  padding: 0px;
}

.content_section.auto_height {
  min-height: auto;
}

.content_section.with_bg_image {
  overflow: hidden;
}

.grid-1 {
  max-width: 1100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-1.space {
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.content_text {
  padding-top: 10px;
  font-size: 19px;
  line-height: 30px;
}

.content_text.align_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.content_visual.align_center {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.span_h2_headline {
  position: relative;
  bottom: 10px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}

.image_content {
  margin-bottom: 20px;
}

.btn_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #000;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.btn_content:hover {
  border-color: #007c97;
  background-color: #007c97;
  color: #fff;
}

.btn_content.small {
  padding: 4px 25px;
  font-size: 17px;
  line-height: 23px;
}

.bar_intel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 30px;
  padding-right: 5px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#cacaca), to(#969696));
  background-image: linear-gradient(90deg, #cacaca, #969696);
  font-size: 14px;
  line-height: 14px;
}

.bar_intel.value_100_b {
  width: 40%;
}

.container_benchmark {
  margin-bottom: 10px;
}

.legend-box {
  margin-right: 20px;
}

.chart-legend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.amd-legend-color-1 {
  width: 10px;
  height: 10px;
  background-color: #007c97;
}

.bar_amd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 30px;
  margin-bottom: 5px;
  padding-right: 5px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#003d4c), to(#007c97));
  background-image: linear-gradient(90deg, #003d4c, #007c97);
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0px;
}

.bar_amd.value_112 {
  width: 56%;
}

.bar_amd.value_103 {
  width: 51.5%;
}

.bar_amd.value_117 {
  width: 58.5%;
}

.bar_amd.value_111 {
  width: 55.5%;
}

.bar_amd.value_128 {
  width: 51.2%;
}

.bar_amd.value_123 {
  width: 49.2%;
}

.bar_amd.value_227 {
  width: 90.8%;
}

.content_benchmark {
  padding-right: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(48%, hsla(0, 0%, 100%, 0)), to(#fff)), url('../images/benchmark_bg.jpg');
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 48%, #fff), url('../images/benchmark_bg.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 1920px;
  font-size: 16px;
}

.chart-value {
  margin-right: 10px;
  margin-bottom: 0px;
}

.intel-legend-color {
  width: 10px;
  height: 10px;
  background-color: #969696;
}

.span_h3_headline {
  position: relative;
  bottom: 10px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
}

.list {
  margin-top: 10px;
  padding-left: 17px;
  font-size: 16px;
  line-height: 24px;
}

.grid-full {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content_over_image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 240px 40px 40px 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/renoir_pro_bg_image_1.jpg');
  background-position: 43% 83%;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 19px;
  line-height: 30px;
}

.content_over_image._2 {
  padding-top: 240px;
  padding-left: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/renoir_pro_bg_image_2.jpg');
  background-position: 57% 50%;
}

.div-block {
  max-width: 540px;
  padding: 40px 30px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.content_table {
  padding-top: 10px;
  font-size: 19px;
  line-height: 30px;
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1.5fr 1fr 1fr;
  grid-template-columns: 1.5fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.table_head {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}

.table_feature {
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.table_feature.bg_grey {
  background-color: #ddd;
}

.table_entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.table_entry.bg_grey {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ddd;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: 0px;
}

.footer_content {
  max-width: 1100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.amd_logo {
  margin-bottom: 20px;
}

.image_wordmark_nav {
  position: absolute;
  left: 30px;
  top: auto;
  right: auto;
  bottom: auto;
}

.image-2 {
  margin-right: 10px;
  margin-bottom: 20px;
}

.header_benchmark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  width: 100%;
  max-width: none;
}

.span_regular {
  font-weight: 400;
}

.lottie-animation {
  width: 458px;
  height: 338px;
}

.grid-3 {
  grid-column-gap: 50px;
}

.div-block-2 {
  text-align: center;
}

.partner_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .hero-section {
    padding-bottom: 40px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-position: 44% 0%;
    background-size: auto;
    background-attachment: scroll;
  }
  .hero_box.in_content {
    text-align: left;
  }
  .content_section {
    min-height: auto;
    text-align: center;
  }
  .grid-1 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-1.space {
    grid-row-gap: 10px;
  }
  .content_visual.align_center {
    padding-right: 5px;
    padding-left: 5px;
  }
  .image_content {
    margin-top: 30px;
  }
  .btn_content {
    margin-top: 30px;
  }
  .content_benchmark {
    padding-top: 20px;
    text-align: left;
  }
  .list {
    text-align: left;
  }
  .content_over_image {
    height: 620px;
    padding: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-position: 44% 95%;
    background-size: auto;
  }
  .content_over_image._2 {
    padding-top: 0px;
    padding-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-position: 55% 100%;
    background-size: auto 800px;
  }
  .div-block {
    max-width: none;
  }
  .table_feature {
    text-align: left;
  }
  .image_wordmark_nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    height: 520px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .hero_box {
    padding-top: 50px;
    font-size: 16px;
    line-height: 21px;
  }
  .span_h1_headline {
    bottom: 10px;
    font-size: 33px;
    line-height: 33px;
  }
  .body {
    font-size: 16px;
    line-height: 25px;
  }
  .navigation {
    height: auto;
    max-height: 80px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .btn_navigation {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .content_section {
    padding: 40px 20px;
  }
  .grid-1 {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-1.space {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .content_text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .content_visual.align_center {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 21px;
  }
  .span_h2_headline {
    font-size: 26px;
    line-height: 26px;
  }
  .grid-full {
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .content_over_image {
    height: auto;
    background-position: 47% 70%;
  }
  .content_over_image._2 {
    background-position: 55% 50%;
  }
  .div-block {
    margin-top: 320px;
    background-color: #000;
    font-size: 16px;
    line-height: 24px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .lottie-animation {
    width: 430px;
    height: 350px;
  }
  .grid-3 {
    grid-column-gap: 10px;
  }
}

@media screen and (max-width: 479px) {
  .hero-section {
    background-position: 70% 0%;
  }
  .body {
    font-size: 14px;
    line-height: 23px;
  }
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .content_section {
    padding-top: 45px;
  }
  .content_visual.align_center {
    padding-right: 5px;
    padding-left: 5px;
  }
  .span_h2_headline {
    bottom: 15px;
  }
  .btn_content {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .content_over_image._2 {
    background-position: 57% 0%;
    background-size: auto 500px;
  }
  .image-3 {
    width: 300%;
    max-width: none;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .lottie-animation {
    width: 320px;
    height: 240px;
  }
}

#w-node-3a5f82ef7215-bd171ca0 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-5d2cf61afbca-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-4e3fe0b78ffa-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-190e16999597-bd171ca0 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-8965a838b87a-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-f20f724eaceb-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-a59999680f2d-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-a59999680f3a-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-1682a10c29cb-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-1682a10c29de-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b386b1bd24f7-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-be0e39e4b11b-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-4e0fd6b777dd-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-4e0fd6b777f0-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-8f06bd13dfdb-bd171ca0 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-8f06bd13dfe4-bd171ca0 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ec132af71a5a-bd171ca0 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-a0ef8d2acc51-bd171ca0 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-8a71e9c87630-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-60c81f9add5e-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f47857a23161-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-598eba667752-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-1c6133a555a5-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-9c62e0b176fc-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ca1a1bab56f9-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-116f025c680b-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-2666d0c34718-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-f0572e2e1008-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-7399aff90551-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-6f358728b95b-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-8b0c616ab5b4-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b32f7f4171b1-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-580c08fc52ca-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-7658d5ddbe4f-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dfbd031c382b-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-1772496fd9fb-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row: 9;
  grid-row-start: 9;
}

#w-node-ad56642801b6-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-7d0ec7f23925-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-8f0eb0d28823-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#w-node-ffdc19d25cf6-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-ac6e91ce1a90-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-e2148ec5d732-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
}

#w-node-b574b0765b62-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-7521a097496a-bd171ca0 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-d9e00c5e9b97-bd171ca0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-5441a193ccb2-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-22c1a47a120b-bd171ca0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-a59999680f2d-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #w-node-a59999680f3a-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #w-node-1682a10c29cb-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #w-node-1682a10c29de-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #w-node-4e0fd6b777dd-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #w-node-4e0fd6b777f0-bd171ca0 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-8965a838b87a-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  #w-node-f20f724eaceb-bd171ca0 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  #w-node-1682a10c29de-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  #w-node-b386b1bd24f7-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  #w-node-be0e39e4b11b-bd171ca0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-MediumCond.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}